.dash{
    background-color: black;
    padding-bottom: 40px;
    padding-top: 67px;
}
.SearchAgain{
    padding-top: 10px;
    background-color: purple;
    font: black;
    font-size: 20px;
    font-weight: bold;
}
.paragraph{
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
}
