.searchPage{
    padding-top: 75px;
    padding-bottom: 60px;
    text-align: center;
    background-color: black;
}
.logo-row-1{
    margin-bottom: 20px;
}
.logo-row-2{
    margin-top: 20px;
}
.title{
    color: purple;
    text-shadow: 2px 2px #ffffff;
    padding-bottom: 30px;
    font-family: 'Bangers', cursive;
    font-size: 45px;
}
.sub-title{
    color: #ffffff;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}
.text-muted{
    padding-top: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    color: #ffffff;
}
.btn-warning,.btn-info{
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
}


@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kaushan+Script&display=swap');